@{
    ViewData["Title"] = Model.Action + " Project";
}
@model ProjectActionViewModel

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">

<div class="modal-dialog">
    <div class="modal-content rounded-3 shadow">
        <div class="modal-header p-4 pb-1">
            <h4 class="fw-bold">@Model.Action Project</h4>
        </div>
        <div class="modal-body p-4 p-1">
            <div class="m-1 text-danger" asp-validation-summary="All"></div>
            <form method="post" asp-action="@(Model.Action + "Project")">
                @if (Model.Project.Id != 0)
                {
                    <input type="hidden" asp-for="Project.Id" />
                }

                <div class="input-group mb-3">
                    <label class="input-group-text">Select Project Type</label>
                    <select asp-for="Project.ProjectType" class="form-control">
                        <option value="" disabled>Project Type</option>
                        @foreach (var projectType in Enum.GetValues(typeof(ProjectType)).Cast<ProjectType>())
                        {
                            <option value="@projectType">@projectType</option>
                        }
                    </select>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text">Select Start Date</label>
                    <input asp-for="Project.StartDate" type="date" class="form-control datepicker" id="startDate" placeholder="Select a date">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text">Select End Date</label>
                    <input asp-for="Project.EndDate" type="date" class="form-control datepicker" id="endDate" placeholder="Select a date">
                </div>

                <small class="text-muted ml-2">you can leave empty*</small>
                <div class="input-group mb-3">
                    <label class="input-group-text">Enter Comment</label>
                    <textarea asp-for="Project.Comment" rows="4" class="form-control"></textarea>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" asp-for="Project.IsActive" />
                    <label class="from-check-label">Is the Project Active</label>
                </div>

                <h5>Select Employees</h5>
                <div class="input-group mb-3">
                    @for (int i = 0; i < Model.Employees.Count; i++)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" asp-for="Employees[i].IsSelected" />
                            <input type="hidden" asp-for="Employees[i].Employee.Id" />
                            <label class="form-check-label">@($"{Model.Employees[i].Employee.FullName} | {Model.Employees[i].Employee.Subdivision} | {Model.Employees[i].Employee.Position}")</label>
                        </div>
                    }
                </div>

                <button type="submit" class="btn btn-primary">@Model.Action</button>
                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary ml-2">Cancel</a>
            </form>
        </div>
        @section Scripts {
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
            <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <script>
                $(function () {
                    $(".datepicker").datepicker({
                        dateFormat: "yy-mm-dd"
                    });
                });
            </script>
        }
    </div>
</div>